# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Virtualenv
.venv/
venv/

# Qt / QML cache
*.qmlc
*.jsc
qt_app.log

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
